<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prj.nicarnaecar.dao.BookingDAO">	
	<insert id="bookingInsert">
		insert into booking(bnumber, vnumber, cemail, boption, bin, bout, bprice) values
		(booking_seq.nextval, #{vnumber}, #{cemail}, #{boption}, #{bin}, #{bout}, #{bprice})
	</insert>
	
	<update id="bookingModify">
		update booking set
			vnumber 	= #{vnumber},
			boption 	= #{boption},
			bin 		= #{bin},
			bout 		= #{bout},
			bprice 		= #{bprice}
		where bnumber 	= #{bnumber}
	</update>
	
	<delete id="bookingDelete">
		delete from booking where bnumber = #{bnumber}
	</delete>
	
</mapper>