<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prj.nicarnaecar.dao.BookingDAO">	
	<insert id="bookingInsert">
		insert into booking(bnumber, vnumber, cemail, bin, bout, bprice) values
		(booking_seq.nextval, #{vnumber}, #{cemail}, #{bin}, #{bout}, #{bprice})
	</insert>
	
	<update id="bookingModify">
		update booking set
			vnumber 	= #{vnumber},
			bin 		= #{bin},
			bout 		= #{bout},
			bprice 		= #{bprice}
		where bnumber 	= #{bnumber}
	</update>
	
	<delete id="bookingDelete">
		update booking set
			bstatus = '취소'
		where bnumber = #{bnumber}
	</delete>
	
	<select id="bookingView" resultType="BookingVO">
		select * from booking where cemail = #{cemail} order by bnumber desc
	</select>
	
	<select id="bookingExtendView" resultType="String">
		select to_date(bin-1,'yyyy-mm-dd') from booking 
		where vnumber = #{vnumber} and bin > to_date(#{bout},'yyyy-mm-dd') and bstatus ='예약'
	</select>
	
	<select id="getBookingInfo" resultType="BookingVO">
		select * from booking where bnumber = #{bnumber}
	</select>
	
	<select id="bookingExtend" parameterType="BookingVO">
		update booking set bout = #{bout}, bprice = #{bprice}
		where bnumber = #{bnumber}
	</select>
	
	<!-- 인도할 차량 -->
	<select id="delivery" resultType="BookingVO">
		select * from booking where to_date(sysdate,'yyyy-mm-dd') = to_date(bin,'yyyy-mm-dd') and bstatus = '예약'
	</select>
	
	<!-- 반납할 차량 -->
	<select id="return" resultType="BookingVO">
		select * from booking where to_date(sysdate,'yyyy-mm-dd') = to_date(bout,'yyyy-mm-dd') and bstatus = '사용중'
	</select>
	
	<!-- 인도하기 -->
	<update id="deliveryCar">
		update booking set bstatus='사용중' where bnumber = #{bnumber}
	</update>
	
	<!-- 반납하기 -->
	<update id="returnCar">
		update booking set bstatus='완료' where bnumber = #{bnumber}
	</update>
</mapper>