<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prj.nicarnaecar.dao.SearchDAO">	
	<select id="VehicleList" resultType="VehicleVO">
		select distinct vmodel, vtype, vmaker, voil, vcolor, vprice, vyear from vehicle
	</select>
</mapper>